:root {
    --bg-color: #38242b;
    --text-color:#000000;
    --bg-color-claro: #fff;
    --granate: #241626;
    --blanco-vintage: #f8f8ff;
    --beige: #f5f5dc;
    --marron-claro: #d2b48c;
    --verde-oliva: #808000;
    --azul-polvoriento: #6b8e23;
    --naranja-quemado: #cc5500; 

}

/*AÑADIR LOS :FOCUS EN TODA LA PÁGINA PARA LA ACCESIBILIDAD*/

*{
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: var(--bg-color);
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container__imagenes h1{
    font-size: 40px;
}

.container__game{
    max-width: 27%; /*Solución a cuando la letra se hace grande, el contenedor crece y se adapta. Si le pongo un max, seguirán todos iguales. */
    margin-top: 8px;
    text-align: center;
    font-size: 20px; /*AQUÍ SE MUEVE*/
}



.header{
    display: flex;
    background-color: var(--text-color);
    justify-content: space-even;
    align-items: center;
    position: relative;
    z-index: 10;
    text-align: center;
}

.header__open-nav-button {
    color: var(--bg-color-claro);
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    right: 10px;
}

.header__open-nav-button:hover{
    transform: scale(1.2);
    transition: transform 0.3s;
}

.header__checkbox{
    display: none; /*Desaparece*/
}

.header__nav{
    display: none;
    position: absolute;
    background-color: var(--text-color);
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: -1;
}

.nav-links{ 
   display: flex;
   flex-direction: column;
   height: auto;
   margin: auto;
   justify-content: space-evenly;
}

.header__checkbox:checked ~ .header__nav { /*Y cuando se chekea, quiero que selecciones todos los hijos con la clase header__nav(hermano) y sale.*/
    display: flex;
}

.header__nav .nav-links li:hover{ 
    transform: scale(1.1);
}

.header__nav .nav-links a{ 
    color: var(--bg-color-claro);
    text-decoration: none;
    font-size: 1.2rem;
}

.header__nav .nav-links a:hover{ 
    color:var(--bg-color);
}

.header .logo{
    cursor: pointer;
    padding: 15px;
}

.header .logo img{
    height: 70px;
    width: auto;
    border-radius: 50%;
    object-fit: cover;
}

.header .logo img:hover{
    transform: scale(1.2);
    transition: transform 0.3s;
}

.container__imagenes img{
    width: 200px;
}

.container__game .img-button img:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}



/*MEDIA QUERIES HEADER:*/

@media (min-width: 767px) {

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__nav {
        display: inline-block;
        position: static;
        height: 20px;
        width: auto;
    }

    .nav-links{ 
        display: flex;
        flex-direction: row;
        margin-right: 50px;
    }

    .nav-links li{ 
        margin-right: 40px;
    }

    .header__nav .nav-links li a{ 
       font-size: 1.5rem;
    }

    .header__nav .nav-links li:hover{ 
        transform: scaleX(1.1);
    }

    .header .logo{
        margin-left: 35px;
    }

    .header__open-nav-button {
        display: none;
    }

}

/*MEDIA QUERIES HOME:*/

@media screen and (min-width: 768px) {

    .container__imagenes.container-grid__pantallaGrande {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        justify-content: space-evenly;
        align-content: space-evenly;
        height: 100vh;
        padding-top: 3rem;
    }

   .container__game{
        max-width: 40%; 
        min-height: 100%;
        font-size: 25px; /*AQUÍ SE MUEVE*/
    }

    .img__principal.imag__principal-visible{
        display: inline-block;
        grid-column: 2 / 3; /* Ocupa la segunda columna */
        grid-row: 1 / 3; /* Ocupa desde la primera hasta la tercera fila (es decir, dos filas) */
    }

    h1{
        grid-row: 1; 
        grid-column: 2 / 3; /* Ocupa la segunda columna */
        align-self: flex-start;
    }

   




    

} 




/*CONTENEDOR ESTRUCTURA PÁGINA.*/


/*FOOTER*/
.footer{
    display: flex;
    justify-content: space-around;
    color: var(--beige);
    background-color: var(--text-color);
    padding: 20px;
    margin-top: auto;
}

.footer a:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s;
    color:var(--bg-color);
}

