:root {
    --bg-color: #242c3b;
    --text-color:#000000;
    --text-color-claro: #f5f5dc;
    --bg-color-claro: #aec6d5;
    --bg-color-card:  #242c3b;
    --color-box-shadow:  #440f0fc6;
    --granate: #241626;rgba(117, 109, 109, 0.776)
    --blanco-vintage: #f8f8ff;
    --beige: #f5f5dc;
    --marron-claro: #d2b48c;
    --verde-oliva: #808000;
    --azul-polvoriento: #6b8e23;
    --naranja-quemado: #cc5500; 

}

/*AÑADIR LOS :FOCUS EN TODA LA PÁGINA PARA LA ACCESIBILIDAD*/

*{
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: var(--bg-color);
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*HEADER MOBILE FIRST*/

.header{
    display: flex;
    background-color: var(--text-color);
    justify-content: space-even;
    align-items: center;
    position: relative;
    z-index: 10;
    text-align: center;
}

.header__open-nav-button {
    color: var(--bg-color-claro);
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    right: 10px;
}

.header__open-nav-button:hover{
    transform: scale(1.2);
    transition: transform 0.3s;
}

.header__checkbox{
    display: none; /*Desaparece*/
}

.header__nav{
    display: none;
    position: absolute;
    background-color: var(--text-color);
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: -1; /*tiene que ser menor que el menú*/
}

.nav-links{ 
   display: flex;
   flex-direction: column;
   height: auto;
   margin: auto;
   gap: 3rem;
}

.header__checkbox:checked ~ .header__nav { /*Y cuando se chekea, quiero que selecciones todos los hijos con la clase header__nav(hermano) y sale.*/
    display: flex;
}

  
.header__nav .nav-links a{ 
    color: var(--bg-color-claro);
    text-decoration: none;
    font-size: 1.2rem;
}

.header__nav .nav-links a:hover{ 
    color:var(--bg-color);
}

.header .logo{
    cursor: pointer;
    padding: 15px;
}

.header .logo img{
    height: 70px;
    width: auto;
    border-radius: 50%;
    object-fit: cover;
}

/*HOME MOBILE FIRST*/

.container__game{
    max-width: 27%; /*Solución a cuando la letra se hace grande, el contenedor crece y se adapta. Si le pongo un max, seguirán todos iguales. */
    margin-top: 8px;
    text-align: center;
    font-size: 18px; /*AQUÍ SE MUEVE*/
}

.container-grid__mobileFirst{
    display: grid;
    justify-items: center;
}

.container__imagenes img{
    width: 200px;
}

.header__nav .nav-links li:hover, 
.header .logo img:hover, 
.container__game .img-button img:hover {
    transition: transform 0.3s;
}

.header__nav .nav-links li:hover { 
    transform: scale(1.1);
}

.header .logo img:hover {
    transform: scale(0.9);
}

.container__game .img-button img:hover {
    transform: scale(0.9);
}

.container__imagenes h1{
    color: var(--bg-color-claro);
}

.container__imagenes .container__game h3{
    color: var(--bg-color-claro);

}


/*MEDIA QUERIES HEADER:*/

@media (min-width: 920px) {

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__nav {
        display: inline-block;
        position: static;
        height: 20px;
        width: auto;
    }

    .nav-links{ 
        display: flex;
        flex-direction: row;
        margin-right: 50px;
    }

    .nav-links li{ 
        margin-right: 40px;
    }

    .header__nav .nav-links li a{ 
       font-size: 1.4rem;
    }

    .header__nav .nav-links li:hover{ 
        transform: scaleX(1.1);
    }

    .header .logo{
        margin-left: 35px;
    }

    .header__open-nav-button {
        display: none;
    }

   

}

/*MEDIA QUERIES HOME:*/

@media screen and (min-width: 768px) {

    .container__imagenes.container-grid__pantallaGrande {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        justify-content: space-evenly;
        align-content: space-evenly;
        height: 100vh;
        padding-top: 3rem;
    }

   .container__game{
        max-width: 40%; 
        font-size: 18px; /*AQUÍ SE MUEVE*/
    }

    .container__game.container__game-grande{
      max-width: 60%;
        
    }

    .container__game.container__game-grande img{
        width: 30rem;  
    }

    
    .img__principal.imag__principal-visible{
        grid-column: 2 / 3; /* Ocupa la segunda columna */
        grid-row: 1 / 3; /* Ocupa desde la primera hasta la tercera fila (es decir, dos filas) */
        align-self:normal;
        margin-top: 10rem;
        
    }

    h1{
        grid-row: 1; 
        grid-column: 2 / 3; /* Ocupa la segunda columna */
        align-self: flex-start;
    }


} 




/*CONTENEDOR ESTRUCTURA PÁGINA.*/

/*"TARJETAS JUEGOS EN "MIS JUEGOS" "*/
.gamesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color-claro);

}

.card{
    perspective: 1200px; /* Establece 3d */
    padding: 10px;
    min-width: 15rem;
    min-height: 8rem;
    background-color: var(--bg-color-card);
    color: var(--text-color-claro);
    margin: 12px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px var(--color-box-shadow);
    text-align: center;
   
}

.card__inner{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; /* Mantiene a los hijos en 3d */
    transition: transform 0.6s; /* Transición suave de 0.6 segundos */
}

.card:hover .card__inner {
    transform: rotateY(180deg); /* Gira el contenedor 180 grados en el eje Y cuando se pasa el ratón */
}

.card__front,
.card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Oculta la cara trasera cuando está girada */
}


.card__back {
    transform: rotateY(180deg); /*Gira la parte trasera para que esté oculta inicialmente */
}

.nuevoP{
    margin-bottom: 20px;
}


/*MEDIA QUERIES MIS JUEGOS__TARJETAS*/
@media screen and (min-width: 768px){
    .gamesContainer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        justify-content: space-evenly;
        align-content: space-evenly;
        height: 100vh;
    }
    


}



/*FOOTER*/
.footer{
    display: flex;
    justify-content: space-around;
    color: var(--bg-color-claro);
    background-color: var(--text-color);
    padding: 20px;
    margin-top: auto;
}

.footer a:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s;
    color:var(--bg-color);
}

