:root {
    --bg-color: #242c3b;
    --text-color:#000000;
    --text-color-segundo: #00000080;
    --text-color-claro: #f5f5dc;
    --bg--blanco: #ffffff;
    --bg--blanco-completo: #ffffff;
    --bg-color-claro: #aec6d5;
    --bg-color-card:  #242c3b;
    --bg-color-teclado: #69638748;
    --bg-color-tresEnRaya: #ffffff66;
    --color-box-shadow:  #440f0fc6;
    --color-verde-shadow: #6b8e2380;
    --granate: #241626;
    --blanco-vintage: #f8f8ff;
    --beige: #f5f5dc;
    --marron-claro: #d2b48c;
    --verde-oliva: #808000;
    --verde-polvoriento: #6b8e23;
    --naranja-quemado: #cc5500; 
    --border-verde : #556B2F; 

}

/*AÑADIR LOS :FOCUS EN TODA LA PÁGINA PARA LA ACCESIBILIDAD*/

*{
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    background-color: var(--bg-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*HEADER MOBILE FIRST*/

.header{
    display: flex;
    background-color: var(--text-color);
    justify-content: space-even;
    align-items: center;
    position: relative;
    z-index: 10;
    text-align: center;
}

.header__open-nav-button {
    color: var(--bg-color-claro);
    font-weight: 400;
    font-size: 3em;
    position: absolute;
    right: 10px;
}

.header__open-nav-button:hover{
    transform: scale(1.2);
    transition: transform 0.3s;
}

.header__checkbox{
    display: none; /*Desaparece*/
}

.header__nav{
    display: none;
    position: absolute;
    background-color: var(--text-color);
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: -1; /*tiene que ser menor que el menú*/
}

.nav-links{ 
   display: flex;
   flex-direction: column;
   height: auto;
   margin: auto;
   gap: 3rem;
}

.header__checkbox:checked ~ .header__nav { /*Y cuando se chekea, quiero que selecciones todos los hijos con la clase header__nav(hermano) y sale.*/
    display: flex;
}

  
.header__nav .nav-links a{ 
    color: var(--bg-color-claro);
    text-decoration: none;
    font-size: 2em;
}

.header__nav .nav-links a:hover{ 
    color:var(--bg--blanco);
}

.header .logo{
    cursor: pointer;
    padding: 15px;
}

.header .logo img{
    height: 70px;
    width: auto;
    border-radius: 50%;
    object-fit: cover;
}

/*HOME MOBILE FIRST*/

.container__game{
    max-width: 27%; /*Solución a cuando la letra se hace grande, el contenedor crece y se adapta. Si le pongo un max, seguirán todos iguales. */
    margin:2rem;
    text-align: center;
    font-size: 18px; /*AQUÍ SE MUEVE*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-grid__mobileFirst{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__imagenes img{
    width: 200px;
}

.img-button{
    background-color: var(--bg-color);
    border: none;
}

.header__nav .nav-links li:hover, 
.header .logo img:hover, 
.container__game .img-button img:hover {
    transition: transform 0.3s;
}

.header__nav .nav-links li:hover { 
    transform: scale(1.1);
}

.header .logo img:hover {
    transform: scale(0.9);
}

.container__game .img-button img:hover {
    transform: scale(0.9);
}

.h1{
    color: var(--bg--blanco);
    margin: 1rem;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.container__imagenes .container__game h3{
    color: var(--bg--blanco);
    margin: 10px;
    font-size: 1em;
}


/*MEDIA QUERIES HEADER:*/

@media (min-width: 950px) {

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__nav {
        display: inline-block;
        position: static;
        height: 20px;
        width: auto;
    }

    .nav-links{ 
        display: flex;
        flex-direction: row;
        margin-right: 50px;
    }

    .nav-links li{ 
        margin-right: 40px;
    }

    .header__nav .nav-links li a{ 
        font-size: 1.5em;
    }

    .header__nav .nav-links li:hover{ 
        transform: scaleX(1.1);
    }

    .header .logo{
        margin-left: 35px;
    }

    .header__open-nav-button {
        display: none;
    }

}

/*MEDIA QUERIES HOME:*/

@media screen and (min-width: 950px) {
    
    
    .container__imagenes.container-grid__pantallaGrande {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }

   .container__game{
        max-width: 40%; 
        font-size: 18px; /*AQUÍ SE MUEVE*/
    }

    .container__game.container__game-grande{
      max-width: 60%;
        
    }

    .container__game.container__game-grande img{
        width: 30rem;  
    }


} 


/*CONTENEDOR ESTRUCTURA PÁGINA.*/

/*"TARJETAS JUEGOS EN "MIS JUEGOS" "*/
.gamesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; /* Asegura que empiece desde la parte superior */
    min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
    font-size: 1.1em;
}



.card{
    perspective: 1200px; /* Establece 3d */
    padding: 10px;
    min-width: 15rem;
    min-height: 8rem;
    background-color: var(--bg-color-teclado);
    color: var(--text-color-claro);
    margin: 12px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px var(--bg-color-claro);
    text-align: center;
   
}

.card__inner{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; /* Mantiene a los hijos en 3d */
    transition: transform 0.6s; /* Transición suave de 0.6 segundos */
}

.card:hover .card__inner {
    transform: rotateY(180deg); /* Gira el contenedor 180 grados en el eje Y cuando se pasa el ratón */
}

.card__front,
.card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Oculta la cara trasera cuando está girada */
}


.card__back {
    transform: rotateY(180deg); /*Gira la parte trasera para que esté oculta inicialmente */
}

.nuevoP{
    margin-bottom: 20px;
}


/*MEDIA QUERIES MIS JUEGOS__TARJETAS*/
@media screen and (min-width: 950px){
   
    .gamesContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        min-height: 50vh;
    }

    .card{
        margin-right: 8rem;
    }

}


/*FOOTER*/
.footer{
    display: flex;
    justify-content: space-around;
    color: var(--bg-color-claro);
    background-color: var(--text-color);
    padding: 20px;
    margin-top: auto;
    font-size: 1.5em;
}

.footer a:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s;
    color:var(--bg--blanco);
} 