*{
    margin:0;
}

.container__laberinto{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    background-color: #347c7c;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
}

.celda{
    width: 2rem;
    height: 2rem;
    margin: 10px;
}

.pasillo{
    background-color: #a6cbb1;
}



.mickeyPostionAbsolute{
    position: absolute;
    transition: transform 0.3s ease;
}

.moverMickeyArriba{
    transform: translate(0px, -90px); /* Mueve el elemento hacia arriba */
}

.moverMickeyAbajo{
    transform: translate(0px, 95px); /* Mueve el elemento hacia arriba */
}

.moverMickeyDerecha{
    transform: translate(90px, 0px); /* Mueve el elemento hacia arriba */
}

.moverMickeyIzquierda{
    transform: translate(-82px, 0px); /* Mueve el elemento hacia arriba */
}

